node_modules
dist
.git/*
!.git/HEAD
!.git/refs
.idea
.vscode
*.log
data
.DS_Store
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
!.env.example
webapp/node_modules
webapp/dist
services/**/dist
services/**/bin
services/**/__pycache__
